<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id ="Client" class="com.example.learnspring.EmailClient">
   <property name="spellchecker" ref="Basicspellchecker"></property>
   </bean>
   <bean id="Basicspellchecker" class="com.example.learnspring.BasicSpellChecker">
   </bean>
   <bean id="AdvancedSpellchecker" class="com.example.learnspring.AdvancedSpellchecker">
   </bean>
   </beans>